@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --muted: 210 40% 96.1%;
  --muted-foreground: 210.4 16.3% 86.9%;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .item {
    @apply translate-y-5 transform opacity-0 transition-all duration-500 ease-out;
  }

  .item.fade-in {
    @apply transform-none opacity-100;
  }
}
